body {
    margin: 0;
    height: 100%;

}

.container {
    display: flex; /* Розподіл елементів по горизонталі */
    height: 100vh; /* 100% висоти екрану */
}

main {
    width: 50%; /* Перша половина */
    background-color: white;
    padding: 20px;
}

header {
    flex: none;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.left {
    font-weight: bold;
}

.right {
    display: flex; 
    gap: 10px; 
}

.resume {
    font-size: 20px;
}

.about_me {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    color: black;
}

.name {
    margin-left: 50px;
    padding: 0px;
}

h1 {
    font-size: 70px;
    font-weight: 300;
    margin-top: 150px;
}

.name h2 {
    margin-top: -40px;
    font-weight: 300;
}

.text {
    color: gray;
}

.number {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 18px;
}

.link {
    color: black;
    text-decoration: underline;
}

.touch {
    margin: 0px 10px;
    text-decoration: none;
}

.push {
    margin-top: 90px;
    margin-left: 50px;
    font-size: 19px;
}

.atribut {
    font-size: 25px;
    margin-left: 7px;
}

aside {
    width: 50%; 
    background-color: rgb(33, 146, 108); 
    display: flex;
    position: relative;
}

button {
    padding: 10px 25px 10px 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 17px;
    position: absolute; 
    top: 35px; 
    right: 20px;
}

img {
    position: absolute;
    width: 300px;
    top: 30%;
    right: 30%;

}


